@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.forgot-password-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

.forgot-password-container {
  width: 100%;
  max-width: 500px;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: relative;
  overflow: hidden;
  margin: 20px;
}

.step {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.step-active {
  opacity: 1;
  transform: translateY(0);
  position: relative;
}

.forgot-password-container h1 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.forgot-password-container p {
  font-size: 14px;
  margin-bottom: 15px;
}

.error-message {
  color: #991d20;
}

.otp::-webkit-outer-spin-button,
.otp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.forgot-password-container input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #991d20;
  border-radius: 8px;
  background-color: #f9ecee;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.forgot-password-container input:focus {
  border-color: #b52427;
  box-shadow: 0 0 5px rgba(153, 29, 32, 0.5);
}

.forgot-password-container button[type="button"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #991d20;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-password-container button[type="button"]:hover {
  background-color: #b52427;
}

.back-button {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.back-button:hover {
  color: #b52427;
  transform: translateX(-3px);
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 450px;
}

.eyess {
  position: absolute;
  right: 0px;
  margin-bottom: 14px;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  color: #991d20;
}

.eye-icon:hover {
  color: #b52427;
} 